div {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 1);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 1s ease-in 0.2s;
}

div:hover {
    background-color: pink;
    margin-top: 400px;
}